*{
    box-sizing: border-box;
}

body, html{
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}

.wrapper{
    padding: 12px;
    background-color: #f3f3f3;
}

.big-container{
    position: relative;
    min-height: 100vh;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 15px;
}

.image_in_list{
    width: 100%;
    border-radius: 5px;
}

.sign-up-form{
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.sign-up-form ul {
    display: none;
}

.alert ul{
    list-style: none;
    padding: 0;
}

.custom-login{
    width: 40%;
}

.custom-login h2{
    text-align: center;
}

/* ! Profile Picture */

.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-email, .profile-facebook{
    border:1px solid #dedede;
    border-top: none;
    border-right: none;
    border-left: none;
}
